/* 
    Created on : Jun 1, 2018, 11:36:55 AM
    Author     : hradi
*/
body {
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
  font-family: Georgia; }

header, footer {
  height: 10vh;
  text-align: center;
  line-height: 10vh; }
footer{
  bottom: 0;
  display: block;

}
.navbar, footer, .navbar-brand {
  background-color: #3B5998;
  color: white !important;
  font-weight: bold;
  min-height: 2rem; }

.navbar li {
  background-color: #3B5998;
  border-right: 0.1rem solid #333333;
  border-left: 0.1rem solid #333333; }

.navbar li a {
  color: rgba(255, 255, 255, 0.5) !important;
  transition: all 0.5s; }

.navbar li a:hover, .navbar-brand:hover {
  background-color: #3B5998;
  color: white !important;
  transition: all 0.5s; }

.navbar .active a {
  background-color: #3B5998 !important;
  color: white !important; }

.mainContent {
  min-height: 85vh;
  text-align: center; }

.mainHeading {
  margin-bottom: 10rem; }

.progressBarContainer {
  margin-top: 5rem; }

.translationResultContainer{
  background-color: white;
  border: 1px solid #333333;
  border-radius: 1rem;
}
#translation{
  border-bottom: 1px solid #333333;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
.localSection{
  border-bottom: 1px solid #333333;
}
/*# sourceMappingURL=main.css.map */
/*################### LOADER #########################*/
.loaderWrapper {
  display: none;
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0; }

.loader {
  border: 20px solid transparent;
  border-radius: 50%;
  border-top: 20px solid #2574A9;
  width: 20rem;
  margin: auto;
  margin-top: 30vh;
  height: 20rem;
  z-index: 11;
  animation: spin 1s ease-in-out infinite; }

.registrationResultMessage, .registrationResultMessage > div {
  display: none; }

.registrationResultMessage div {
  margin: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  height: 20%;
  z-index: 11;
  font-size: calc(1rem + 1vw); }

.registrationResultMessage div p {
  display: inline;
  padding: 2rem; }

div[class=rerrorMessage] button {
  border: none;
  text-decoration: underline;
  color: #2574A9; }

.rsuccessMessage {
  color: #5cb85c; }

.rerrorMessage {
  color: #d9534f; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/*###########################################################*/