
/* 
    Created on : Jun 1, 2018, 11:36:55 AM
    Author     : hradi
*/
$backgroundColor:#F2F2F2;
$backgroundColorLoader:rgba(255, 255, 255, 0.4);
$mainColor:#3B5998;;
$secondaryTextColor:#333333;
$mainTextColor:rgba(255,255,255,0.5);
$activeColor:white;

body{
    padding: 0;
    margin: 0;
    background-color:$backgroundColor;
    font-family: Georgia;
    
}
header,footer{
   height: 10vh;
  text-align: center;
  line-height: 10vh;  
}
footer{
  bottom: 0;
  display: block;
  position: absolute;;
}
.navbar,footer,.navbar-brand{
background-color: $mainColor;
  color:$activeColor !important;
    font-weight: bold;
    min-height: 2rem;

}
.navbar li{
    border-right: 0.1rem solid $secondaryTextColor;
    border-left: 0.1rem solid $secondaryTextColor;
}
.navbar li a{
    color: $mainTextColor !important;
     transition: all 0.5s;
}
.navbar li a:hover,.navbar-brand:hover{
     color:$activeColor !important;
     transition: all 0.5s;
}
.navbar .active a{
    background-color: $mainColor !important;
    color:$activeColor !important;
}
.mainContent{
    min-height: 80vh;
    text-align: center;
  
}
.mainHeading{
    margin-bottom: 10rem;
}

.progressBarContainer{
    margin-top: 5rem;
}

.translationResultContainer{
  background-color: $activeColor;
  border: 1px solid $secondaryTextColor;
  border-radius: 1rem;
}
#translation{
  border-bottom: 1px solid $secondaryTextColor;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}


/*################### LOADER #########################*/
.loaderWrapper {
  display: none;
  background-color: $backgroundColorLoader;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0; }

.loader {
  border: 20px solid transparent;
  border-radius: 50%;
  border-top: 20px solid $mainColor;
  width: 20rem;
  margin: auto;
  margin-top: 30vh;
  height: 20rem;
  z-index: 11;
  animation: spin 1s ease-in-out infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/*###########################################################*/